*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}

.container{
    height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .col-left{
    flex: 1;
    padding: 20px;
}
.container .col-left h1{
    font-size: 4rem;
    color: transparent;
    position: relative;
    display: inline-block;
    width: fit-content;
    animation: text_reveal .5s ease forwards;
    
    /* animation-delay: .1.2s; */
}
.container .col-left h1 span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    display: inline-block;
    animation: reveal 1.4s ease forwards;
    /* animation-delay: .7s; */
}
.container .col-left h1:first-child{
    
    animation-delay: 1.2s;
}
.container .col-left h1:nth-last-of-type(2){
    animation-delay: 2.4s;
    
}
.container .col-left h1:last-child{
    
    animation-delay:3.6s;
}
.container .col-left h1:first-child span{
    animation-delay: .7s;
}

.container .col-left h1:nth-last-of-type(2) span{
    animation-delay: 1.4s;
}
.container .col-left h1:last-child span{
    animation-delay: 2.1s;
}

.container .col-right{
    flex: 1;
    
}
.container .col-right img{
    height: 100%;
    width:100%;
}
@keyframes reveal{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: transparent;
        
    }
    100%{
        color: white;
        
    }
}